<%- include('includes/head') %>

<div class="container mt-5">
  <div class="row">
  <div class="col">
    <!-- Category title -->
    <div class="category-title">
      <h2 class="text-center"><%= category %></h2>
    </div>
  </div>
</div>
</div>
<% data.forEach(article => { %>
  <div class="container mt-5">
    

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= article.date %></h6>
            <p class="card-text"><%= article.description %></p>
            <% article.categories.forEach(category => { %>
              <span class="badge badge-secondary"><a style="color: antiquewhite;" href="<%= `/articles/category/${category.title}` %>"><%= category.title %></a></span>
          <% }) %> <br> <hr>
            <a href="/articles/<%= article.path %>" class="card-link">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% }) %>

